Repository Raeein/cis3760-swe: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-spring, build-mysql, build-react, build-blog

build-spring:
  stage: build
  script:
  - /kaniko/executor --context "./spring" --destination "${CI_REGISTRY_IMAGE}/spring:v0.0.0"

build-mysql:
  stage: build
  script:
  - /kaniko/executor --context "./mysql" --destination "${CI_REGISTRY_IMAGE}/mysql:v0.0.0"

build-react:
  stage: build
  script:
  - /kaniko/executor --context "./react" --destination "${CI_REGISTRY_IMAGE}/react:v0.0.0"

build-blog:
  stage: build
  script:
  - /kaniko/executor --context "./blog" --destination "${CI_REGISTRY_IMAGE}/blog:v0.0.6"

Fixed job description
  react/src/components/JobTable.jsx
Due: build-react

Bugfix: Bugfix/fixed job description
  react/src/components/JobTable.jsx
Due: build-react

Improvement: increase Pytest coverage and remove unnecessary downloads in python dockerfile
  scraper/Dockerfile
  scraper/scraper.py
  scraper/test_scraper.py
Due: none

potential fix
  scraper/Dockerfile
  scraper/geckodriver-v0.34.0-linux-aarch64.tar.gz
  scraper/scraper.py
Due: none

Revert "Merge branch 'feature/add-pytest-cov' into 'main'"
  scraper/Dockerfile
  scraper/scraper.py
  scraper/test_scraper.py
Due: none

added filter side panel and option for salary and employment type, neither are functional yet - just a set up
  react/src/App.css
  react/src/components/JobTable.jsx
  react/src/index.css
Due: build-react

added filter side panel and option for salary and employment type, neither are...
  react/src/App.css
  react/src/components/JobTable.jsx
  react/src/index.css
Due: build-react

Task #179. Added employment type to front end
  mysql/scripts/setup.sql
  react/src/components/JobTable.jsx
  scraper/main.py
  spring/src/main/java/com/pixelate/geojobsearch/models/Job.java
Due: build-spring, build-mysql, build-react

added filter by employment type, still buggy and needs improvements
  react/src/App.css
  react/src/components/JobTable.jsx
Due: build-react

employment type fully functional, also added ability to search for company name and location
  react/src/components/JobTable.jsx
Due: build-react

Change scraper so it returns job object as it's scraping. Also add employment type
  mysql/scripts/setup.sql
  scraper/main.py
  scraper/scraper.py
  spring/src/main/java/com/pixelate/geojobsearch/models/Job.java
Due: build-spring, build-mysql

added internship option to employment type filter, also made it so that users cant scroll beyond windows vh
  react/src/components/JobTable.jsx
  react/src/index.css
Due: build-react

added location side panel to fetch all unique locations fro m the data and make a list of them
  react/src/App.css
  react/src/components/JobTable.jsx
Due: build-react

commenting out one small bit
  react/src/components/JobTable.jsx
Due: build-react

Issue #179. Used keywords to identify employment type strings
  react/src/App.js
  scraper/helper.py
  scraper/main.py
Due: build-react

refactored pytest for the new scraper and move the database insertion to scraper
  scraper/main.py
  scraper/scraper.py
  scraper/test_scraper.py
Due: none

added checkstyle
  spring/pom.xml
  spring/src/main/resources/checkstyle-suppressions.xml
  spring/src/main/resources/checkstyle.xml
Due: build-spring

poetry stuff
  .gitignore
  compose.yml
  scraper/.flake8
  scraper/Dockerfile
  scraper/main.py
  scraper/poetry.lock
  scraper/pyproject.toml
  scraper/scraper.py
  scraper/test_scraper.py
  test.yml
Due: none

apply poetry to python code
  scraper/main.py
  scraper/scraper.py
  scraper/test_scraper.py
Due: none

Improvement: Update scraper to display jobs as it finds them and remove duplicate jobs.
  mysql/scripts/setup.sql
  scraper/main.py
  scraper/scraper.py
  scraper/test_scraper.py
  spring/src/main/java/com/pixelate/geojobsearch/models/Job.java
Due: build-spring, build-mysql

Added the CI configuration file
  .gitlab-ci.yml
  react/.eslintrc.js
  react/package-lock.json
  react/package.json
  react/src/App.js
  react/src/setupProxy.js
  scraper/test_scraper.py
Due: build-react

resolve pytest and poetry issue
  scraper/scraper.py
  scraper/test_scraper.py
Due: none

test 1
  .gitlab-ci.yml
  scraper/install.sh
Due: none

test 2
  .gitlab-ci.yml
Due: none

fixed the pipelines not running
  .gitlab-ci.yml
Due: none

Issue #176. Added ESlint configuration
  .gitlab-ci.yml.c
  react/.eslintrc.js
  react/package-lock.json
  react/package.json
Due: build-react

Issue #176. Fixed yml error
  .gitlab-ci.yml
Due: none

Issue #176. Refactoring old code to be accepted
  .gitlab-ci.yml
  react/.eslintrc.js
Due: build-react

Issue #176. Refactoring old code to be accepted
  react/.eslintrc.js
  react/src/components/JobTable.jsx
  react/src/index.js
Due: build-react

Issue #176. Refactoring old code to be accepted
  react/.eslintrc.js
  react/src/App.js
  react/src/components/JobTable.jsx
  react/src/index.js
  react/src/reportWebVitals.js
  react/src/setupProxy.js
  react/src/setupTests.js
Due: build-react

Issue #176. Code passed linter
  .gitlab-ci.yml
  react/src/components/SearchBar.jsx
Due: build-react

Issue #176. Fixed linter errors
  scraper/helper.py
  scraper/main.py
  spring/src/test/java/com/pixelate/geojobsearch/models/JobTest.java
Due: build-spring

run 1
  .gitlab-ci.yml
Due: none

Issue #176. Pulled from ESlint
  react/src/components/JobTable.jsx
Due: build-react

Issue 176. Added more filter options to employment type filter
  react/src/App.css
  react/src/components/JobTable.jsx
Due: build-react

Issue #176. Added more filter options to employment type filter
  react/src/App.css
  react/src/components/JobTable.jsx
Due: build-react

React rouder dom
  react/package-lock.json
  react/package.json
  react/src/components/JobTable.jsx
Due: build-react

Issue #105 salary parsing function
  scraper/helper.py
Due: none

Path conditions:
  build-spring: any of: spring/**/*
  build-mysql: any of: mysql/**/*
  build-react: any of: react/**/*
  build-blog: any of: blog/**/*
