Repository Raeein/cis3760-swe: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-spring, build-mysql, build-react, build-blog

.gitlab-ci.yml:

image: 
  name: gcr.io/kaniko-project/executor:v1.14.0-debug
  entrypoint: [""]

stages:
  - build
  - deploy

build-spring:
  stage: build
  script:
    - /kaniko/executor --context "./spring" --destination "${CI_REGISTRY_IMAGE}/spring:v0.0.0"
  rules:
    - if: $CI_COMMIT_BRANCH == "deploy"
      changes:
        - spring/**/*

build-mysql:
  stage: build
  script:
    - /kaniko/executor --context "./mysql" --destination "${CI_REGISTRY_IMAGE}/mysql:v0.0.0"
  rules:
    - if: $CI_COMMIT_BRANCH == "deploy"
      changes:
        - mysql/**/*

build-react:
  stage: build
  script:
    - /kaniko/executor --context "./react" --destination "${CI_REGISTRY_IMAGE}/react:v0.0.0"
  rules:
    - if: $CI_COMMIT_BRANCH == "deploy"
      changes:
        - react/**/*

build-blog:
  stage: build
  script:
    - /kaniko/executor --context "./blog" --destination "${CI_REGISTRY_IMAGE}/blog:v0.0.6"
  rules:
    - if: $CI_COMMIT_BRANCH == "deploy"
      changes:
        - blog/**/*

deploy-spring-socs:
  stage: deploy
  image:
    name: bitnami/kubectl:latest
    entrypoint: ['']
  script:
    - kubectl config get-contexts
    - kubectl config use-context amerch04/springtemplate:socs
    - kubectl get pods
    - kubectl apply -f k8s/spring/spring-deployment.yaml
  rules:
    - if: '$CI_COMMIT_BRANCH == "deploy"'

deploy-mysql-socs:
  stage: deploy
  image:
    name: bitnami/kubectl:latest
    entrypoint: ['']
  script:
    - kubectl config get-contexts
    - kubectl config use-context amerch04/springtemplate:socs
    - kubectl get pods
    - kubectl apply -f k8s/mysql/mysql-deployment.yaml
  rules:
    - if: '$CI_COMMIT_BRANCH == "deploy"'

deploy-react-socs:
  stage: deploy
  image:
    name: bitnami/kubectl:latest
    entrypoint: ['']
  script:
    - kubectl config get-contexts
    - kubectl config use-context amerch04/springtemplate:socs
    - kubectl get pods
    - kubectl apply -f k8s/react/react-deployment.yaml
  rules:
    - if: '$CI_COMMIT_BRANCH == "deploy"'

deploy-blog-socs:
  stage: deploy
  image:
    name: bitnami/kubectl:latest
    entrypoint: ['']
  script:
    - kubectl config get-contexts
    - kubectl config use-context amerch04/springtemplate:socs
    - kubectl get pods
    - kubectl apply -f k8s/blog/blog-deployment.yaml
  rules:
    - if: '$CI_COMMIT_BRANCH == "deploy"'

added python test and refactor scraper.py for testing
  scraper/requirements.txt
  scraper/scraper.py
  scraper/testWebsite/indeed/indeedJob1.html
  scraper/testWebsite/indeed/indeedJob2.html
  scraper/testWebsite/indeed/indeedJob3.html
  scraper/testWebsite/indeed/indeedJobBoard1.html
  scraper/testWebsite/indeed/indeedJobBoard2.html
  scraper/testWebsite/indeed/indeedJobBoard3.html
  scraper/test_scraper.py
  test.yml
Due: none

update readme
  README.md
Due: none

small changes
  react/Dockerfile
  react/src/App.js
  react/src/components/JobTable.jsx
  scraper/Dockerfile
  scraper/main.py
Due: build-react

Docker error fixes
  package-lock.json
  package.json
  react/Dockerfile
  react/src/App.css
  react/src/App.js
  react/src/components/JobTable.jsx
  scraper/Dockerfile
Due: build-react

React framer motion
  README.md
  mysql/scripts/setup.sql
  package-lock.json
  package.json
  react/package-lock.json
  react/package.json
  react/src/components/JobTable.jsx
  scraper/Dockerfile
  scraper/main.py
  scraper/requirements.txt
  scraper/scraper.py
  spring/src/main/java/com/pixelate/geojobsearch/jobs/models/Job.java
  test.yml
Due: build-spring, build-mysql, build-react

Removed framer motion
  react/package-lock.json
  react/package.json
  react/src/components/JobTable.jsx
Due: build-react

Added logo text
  react/Dockerfile
  react/package-lock.json
  react/src/App.css
  react/src/App.js
  react/src/components/JobTable.jsx
  react/src/components/SearchBar.jsx
  react/src/index.css
  react/src/test.json
Due: build-react

React slider pane
  react/package-lock.json
  react/package.json
  react/src/components/JobTable.jsx
Due: build-react

Fixed description issues
  mysql/scripts/setup.sql
  react/package-lock.json
  react/package.json
  react/src/App.css
  react/src/components/JobTable.jsx
  scraper/main.py
Due: build-mysql, build-react

Implemented sliding pane
  react/src/components/JobTable.jsx
  react/src/components/detailsPane.jsx
Due: build-react

Added the description
  react/src/components/JobTable.jsx
Due: build-react

Styling
  react/src/App.css
  react/src/components/JobTable.jsx
  react/src/components/detailsPane.jsx
Due: build-react

Added company name
  mysql/scripts/setup.sql
  react/src/App.css
  react/src/App.js
  react/src/components/JobTable.jsx
  scraper/main.py
  spring/src/main/java/com/pixelate/geojobsearch/jobs/models/Job.java
Due: build-spring, build-mysql, build-react

Testing company name + refactoring
  react/src/App.css
  react/src/components/JobTable.jsx
  spring/src/test/java/com/pixelate/geojobsearch/jobs/models/JobTest.java
Due: build-spring, build-react

firefox webdriver worked on window machine
  compose.yml
  scraper/Dockerfile
  scraper/main.py
  scraper/scraper.py
Due: none

fix rate limit error
  Makefile
  README.md
  scraper/Dockerfile
  scraper/geckodriver-v0.34.0-linux64.tar.gz
  scraper/scraper.py
Due: none

#64: Add scraper support for Canadian Job Bank
  scraper/main.py
  scraper/scraper.py
Due: none

#65: Added Python testing for the Canadian Job Board features
  scraper/scraper.py
  scraper/testWebsite/canadian_job/CanadianJob1.txt
  scraper/testWebsite/canadian_job/canadianJobBank.txt
  scraper/testWebsite/indeed/indeedJob1.txt
  scraper/testWebsite/indeed/indeedJob2.txt
  scraper/testWebsite/indeed/indeedJob3.txt
  scraper/testWebsite/indeed/indeedJobBoard1.txt
  scraper/testWebsite/indeed/indeedJobBoard2.txt
  scraper/testWebsite/indeed/indeedJobBoard3.txt
  scraper/test_scraper.py
Due: none

Issue #77. Updated dummy test file for front end testing
  react/src/test.json
Due: build-react

added Jacoco
  .gitignore
  compose.yml
  spring/pom.xml
  test.yml
Due: build-spring

project refactor and removed boring java boilerplates
  react/src/components/JobTable.jsx
  spring/pom.xml
  spring/src/main/java/com/pixelate/geojobsearch/Application.java
  spring/src/main/java/com/pixelate/geojobsearch/controllers/JobsController.java
  spring/src/main/java/com/pixelate/geojobsearch/jobs/dao/JobsDao.java
  spring/src/main/java/com/pixelate/geojobsearch/jobs/models/Job.java
  spring/src/main/java/com/pixelate/geojobsearch/models/Job.java
  spring/src/main/java/com/pixelate/geojobsearch/repository/JobsRepository.java
  spring/src/main/java/com/pixelate/geojobsearch/service/Impl/JobsServiceImpl.java
  spring/src/main/java/com/pixelate/geojobsearch/service/JobsService.java
  spring/src/test/java/com/pixelate/geojobsearch/jobs/models/JobTest.java
Due: build-spring, build-react

added the tests
  README.md
  react/src/components/JobTable.jsx
  spring/pom.xml
  spring/src/main/java/com/pixelate/geojobsearch/models/Job.java
  spring/src/test/java/com/pixelate/geojobsearch/TemplateApplicationTests.java
  spring/src/test/java/com/pixelate/geojobsearch/controller/JobsControllerTests.java
  spring/src/test/java/com/pixelate/geojobsearch/models/JobTest.java
  spring/src/test/java/com/pixelate/geojobsearch/repository/JobsRepositoryTests.java
  spring/src/test/java/com/pixelate/geojobsearch/service/JobsServiceTests.java
  spring/src/test/resources/application-test.properties
Due: build-spring, build-react

Resolved merge conflict
  scraper/main.py
Due: none

updated the tests with the new db fields
  react/Dockerfile
  spring/src/main/java/com/pixelate/geojobsearch/jobs/models/Job.java
  spring/src/main/java/com/pixelate/geojobsearch/models/Job.java
  spring/src/test/java/com/pixelate/geojobsearch/ApplicationTests.java
  spring/src/test/java/com/pixelate/geojobsearch/controller/JobsControllerTests.java
  spring/src/test/java/com/pixelate/geojobsearch/service/JobsServiceTests.java
Due: build-spring, build-react

removed unused imports
  spring/src/test/java/com/pixelate/geojobsearch/controller/JobsControllerTests.java
  spring/src/test/java/com/pixelate/geojobsearch/models/JobTest.java
  spring/src/test/java/com/pixelate/geojobsearch/service/JobsServiceTests.java
Due: build-spring

applied code formatting suggestions
  scraper/main.py
  scraper/scraper.py
  scraper/test_scraper.py
Due: none

changed docker-compose to docker compose incase docker-compose is not installed by itself and removed develop section from compose incase older version is installed
  Makefile
  README.md
  compose.yml
  test.yml
Due: none

Resolved merge conflict
  scraper/main.py
  scraper/scraper.py
Due: none

linter stuff
  scraper/main.py
  scraper/scraper.py
  scraper/test_scraper.py
Due: none

test firefox on mac
  scraper/main.py
  scraper/requirements.txt
  scraper/scraper.py
Due: none

one line in main.py, still needs to be adjusted to bypass cloudfare
  scraper/main.py
Due: none

let scraper continuously pull jobs
  scraper/main.py
  scraper/scraper.py
Due: none

Bugfix: fix scraper to work on mac
  Makefile
  compose.yml
  scraper/Dockerfile
  scraper/geckodriver-v0.34.0-linux64.tar.gz
  scraper/main.py
  scraper/requirements.txt
  scraper/scraper.py
Due: none

Add Pytest-cov and improve coverage to the required maount
  scraper/requirements.txt
  scraper/scraper.py
  scraper/test_scraper.py
  test.yml
Due: none

Feature: Add Pytest Coverage
  scraper/requirements.txt
  scraper/scraper.py
  scraper/test_scraper.py
  test.yml
Due: none

improve coverage and remove unnecessary download in scraper dockerfile
  scraper/Dockerfile
  scraper/scraper.py
  scraper/test_scraper.py
Due: none

Fixed description error
  react/src/components/JobTable.jsx
Due: build-react

Revert "Fixed description error"
  react/src/components/JobTable.jsx
Due: build-react
