Repository Raeein/cis3760-swe: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-spring, build-mysql, build-react, build-blog

.gitlab-ci.yml:

image: 
  name: gcr.io/kaniko-project/executor:v1.14.0-debug
  entrypoint: [""]

stages:
  - build
  - deploy

build-spring:
  stage: build
  script:
    - /kaniko/executor --context "./spring" --destination "${CI_REGISTRY_IMAGE}/spring:v0.0.0"
  rules:
    - if: $CI_COMMIT_BRANCH == "deploy"
      changes:
        - spring/**/*

build-mysql:
  stage: build
  script:
    - /kaniko/executor --context "./mysql" --destination "${CI_REGISTRY_IMAGE}/mysql:v0.0.0"
  rules:
    - if: $CI_COMMIT_BRANCH == "deploy"
      changes:
        - mysql/**/*

build-react:
  stage: build
  script:
    - /kaniko/executor --context "./react" --destination "${CI_REGISTRY_IMAGE}/react:v0.0.0"
  rules:
    - if: $CI_COMMIT_BRANCH == "deploy"
      changes:
        - react/**/*

build-blog:
  stage: build
  script:
    - /kaniko/executor --context "./blog" --destination "${CI_REGISTRY_IMAGE}/blog:v0.0.6"
  rules:
    - if: $CI_COMMIT_BRANCH == "deploy"
      changes:
        - blog/**/*

deploy-spring-socs:
  stage: deploy
  image:
    name: bitnami/kubectl:latest
    entrypoint: ['']
  script:
    - kubectl config get-contexts
    - kubectl config use-context amerch04/springtemplate:socs
    - kubectl get pods
    - kubectl apply -f k8s/spring/spring-deployment.yaml
  rules:
    - if: '$CI_COMMIT_BRANCH == "deploy"'

deploy-mysql-socs:
  stage: deploy
  image:
    name: bitnami/kubectl:latest
    entrypoint: ['']
  script:
    - kubectl config get-contexts
    - kubectl config use-context amerch04/springtemplate:socs
    - kubectl get pods
    - kubectl apply -f k8s/mysql/mysql-deployment.yaml
  rules:
    - if: '$CI_COMMIT_BRANCH == "deploy"'

deploy-react-socs:
  stage: deploy
  image:
    name: bitnami/kubectl:latest
    entrypoint: ['']
  script:
    - kubectl config get-contexts
    - kubectl config use-context amerch04/springtemplate:socs
    - kubectl get pods
    - kubectl apply -f k8s/react/react-deployment.yaml
  rules:
    - if: '$CI_COMMIT_BRANCH == "deploy"'

deploy-blog-socs:
  stage: deploy
  image:
    name: bitnami/kubectl:latest
    entrypoint: ['']
  script:
    - kubectl config get-contexts
    - kubectl config use-context amerch04/springtemplate:socs
    - kubectl get pods
    - kubectl apply -f k8s/blog/blog-deployment.yaml
  rules:
    - if: '$CI_COMMIT_BRANCH == "deploy"'

created job database and controllers for the job database
  mysql/Dockerfile
  mysql/scripts/setupJob.sql
  spring/src/main/java/com/example/cis4900/spring/template/controllers/JobsController.java
  spring/src/main/java/com/example/cis4900/spring/template/jobs/JobsService.java
  spring/src/main/java/com/example/cis4900/spring/template/jobs/JobsServiceImpl.java
  spring/src/main/java/com/example/cis4900/spring/template/jobs/dao/JobsDao.java
  spring/src/main/java/com/example/cis4900/spring/template/jobs/models/Job.java
Due: build-spring, build-mysql

added docker compose watch for react
  compose.yml
  react/Dockerfile
Due: build-react

database points to notes instead of jobs
  mysql/Dockerfile
Due: build-mysql

updated text to jobs
  spring/src/main/java/com/example/cis4900/spring/template/controllers/JobsController.java
  spring/src/main/java/com/example/cis4900/spring/template/jobs/dao/JobsDao.java
Due: build-spring

edited from text to jobs
  spring/src/main/java/com/example/cis4900/spring/template/controllers/JobsController.java
Due: build-spring

small changes that didn't fix anything :*(
  mysql/Dockerfile
  mysql/scripts/setupJob.sql
  spring/src/main/java/com/example/cis4900/spring/template/controllers/JobsController.java
  spring/src/main/java/com/example/cis4900/spring/template/jobs/JobsService.java
  spring/src/main/java/com/example/cis4900/spring/template/jobs/JobsServiceImpl.java
  spring/src/main/java/com/example/cis4900/spring/template/jobs/dao/JobsDao.java
Due: build-spring, build-mysql

added the scraper service template
  compose.yml
  scraper/Dockerfile
  scraper/main.py
  scraper/requirements.txt
Due: none

fixed bug with getJobCount query
  spring/src/main/java/com/example/cis4900/spring/template/jobs/dao/JobsDao.java
Due: build-spring

added the fake jobs to the database
  README.md
  compose.yml
  mysql/Dockerfile
  mysql/scripts/setup.sql
  mysql/scripts/setupJob.sql
  scraper/fake_jobs.json
  scraper/main.py
Due: build-mysql

fixed no table error
  mysql/scripts/setup.sql
Due: build-mysql

Springboot
  react/README.md
  react/package-lock.json
  react/package.json
  react/public/favicon.ico
  react/public/index.html
  react/public/logo192.png
  react/public/logo512.png
  react/public/manifest.json
  react/public/robots.txt
  react/springboot/.gitignore
  react/springboot/build.gradle
  react/springboot/gradle/wrapper/gradle-wrapper.jar
  react/springboot/gradle/wrapper/gradle-wrapper.properties
  react/springboot/gradlew
  react/springboot/gradlew.bat
  react/springboot/settings.gradle
  react/springboot/src/main/java/pixelate/reactfrontend/ReactFrontEndApplication.java
  react/springboot/src/main/resources/application.properties
  react/springboot/src/test/java/pixelate/reactfrontend/ReactFrontEndApplicationTests.java
  react/src/App.css
  react/src/App.js
  react/src/App.test.js
  react/src/components/ErrorAlert/index.js
  react/src/components/GlobalNavBar/index.js
  react/src/components/LoadingSpinner/index.js
  react/src/index.css
  react/src/index.js
  react/src/logo.svg
  react/src/pages/HomePage/components/EditNoteModal/index.js
  react/src/pages/HomePage/components/NewNoteForm/index.js
  react/src/pages/HomePage/components/NotesList/index.js
  react/src/pages/HomePage/index.js
  react/src/reportWebVitals.js
  react/src/setupProxy.js
  react/src/setupTests.js
Due: build-react

Docker react template
  react/Dockerfile
  react/README.md
  react/package-lock.json
  react/package.json
  react/public/favicon.ico
  react/public/index.html
  react/public/logo192.png
  react/public/logo512.png
  react/public/manifest.json
  react/public/robots.txt
  react/springboot/.gitignore
  react/springboot/build.gradle
  react/springboot/gradle/wrapper/gradle-wrapper.jar
  react/springboot/gradle/wrapper/gradle-wrapper.properties
  react/springboot/gradlew
  react/springboot/gradlew.bat
  react/springboot/settings.gradle
  react/springboot/src/main/java/pixelate/reactfrontend/ReactFrontEndApplication.java
  react/springboot/src/main/resources/application.properties
  react/springboot/src/test/java/pixelate/reactfrontend/ReactFrontEndApplicationTests.java
  react/src/App.css
  react/src/App.js
  react/src/App.test.js
  react/src/components/index.js
  react/src/index.css
  react/src/index.js
  react/src/logo.svg
  react/src/reportWebVitals.js
  react/src/setupProxy.js
  react/src/setupTests.js
Due: build-react

Integrated user interface
  react/Dockerfile
  react/README.md
  react/package-lock.json
  react/package.json
  react/src/App.css
  react/src/App.js
  react/src/JobList.js
  react/src/JobTable.jsx
  react/src/components/index.js
  react/src/setupProxy.js
  react/src/test.json
Due: build-react

React user interface
  compose.yml
Due: none

docker working
  react/.devcontainer/devcontainer.json
  react/.github/dependabot.yml
  react/src/App.css
  react/src/App.test.js
Due: build-react

changes for server
  react/src/App.css
  react/src/App.js
  react/src/App.test.js
  react/src/JobList.js
  react/src/components/JobTable.jsx
  react/src/index.css
  react/src/logo.svg
Due: build-react

Restored deleted files
  react/package-lock.json
  react/package.json
  react/src/setupProxy.js
Due: build-react

changed back to json format
  react/src/App.js
  react/src/components/JobTable.jsx
  react/src/index.css
Due: build-react

fix comments
  compose.yml
  react/src/App.js
  react/src/test.json
Due: build-react

add scraper.py
  scraper/requirements.txt
  scraper/scraper.py
Due: none

the function getJobInfo can get multiple jobs now. Will be storing the info as return value later
  scraper/scraper.py
Due: none

cleaned up the spring files
  compose.yml
  mysql/scripts/setup.sql
  spring/Dockerfile
  spring/src/main/java/com/example/cis4900/spring/template/controllers/NotesController.java
  spring/src/main/java/com/example/cis4900/spring/template/notes/NotesService.java
  spring/src/main/java/com/example/cis4900/spring/template/notes/NotesServiceImpl.java
  spring/src/main/java/com/example/cis4900/spring/template/notes/dao/NotesDao.java
  spring/src/main/java/com/example/cis4900/spring/template/notes/models/Note.java
  spring/src/main/java/com/pixelate/geojobsearch/Application.java
  spring/src/main/java/com/pixelate/geojobsearch/controllers/DemoController.java
  spring/src/main/java/com/pixelate/geojobsearch/controllers/JobsController.java
  spring/src/main/java/com/pixelate/geojobsearch/jobs/JobsService.java
  spring/src/main/java/com/pixelate/geojobsearch/jobs/JobsServiceImpl.java
  spring/src/main/java/com/pixelate/geojobsearch/jobs/dao/JobsDao.java
  spring/src/main/java/com/pixelate/geojobsearch/jobs/models/Job.java
  spring/src/test/java/com/pixelate/geojobsearch/TemplateApplicationTests.java
Due: build-spring, build-mysql

added merge request template
  .gitlab/merge_request_templates/Code_Review_Template.md
Due: none

Update Code_Review_Template.md
  .gitlab/merge_request_templates/Merge_Request_Template.md
Due: none

changed groupid
  spring/pom.xml
Due: build-spring

added search bar
  react/src/App.css
  react/src/App.js
  react/src/components/JobTable.jsx
  react/src/components/SearchBar.jsx
Due: build-react

minor bug fix with accidental import
  react/src/App.js
Due: build-react

Updated pom.xml file and created JobTest.java file for testing purposes
  spring/pom.xml
  spring/src/test/java/com/pixelate/geojobsearch/jobs/models/JobTest.java
Due: build-spring

added search bar, as well as significant improvements to styling anf layout
  mysql/scripts/setup.sql
  react/package-lock.json
  react/src/App.css
  react/src/App.js
  react/src/components/JobTable.jsx
  react/src/components/SearchBar.jsx
  react/src/index.css
  react/src/test.json
  scraper/main.py
  spring/src/main/java/com/pixelate/geojobsearch/jobs/models/Job.java
Due: build-spring, build-mysql, build-react

added comma to setup.sql
  mysql/scripts/setup.sql
  spring/src/main/java/com/pixelate/geojobsearch/jobs/models/Job.java
Due: build-spring, build-mysql

adjusted to finally work with fetched data again, aslo displays placeholder discription for each listing
  react/src/App.js
  react/src/components/JobTable.jsx
Due: build-react

scraper function returns a list of json with all the required attribute except id
  scraper/Dockerfile
  scraper/requirements.txt
  scraper/scraper.py
Due: none

small visual tweaks to highlight effect
  react/src/App.css
  react/src/components/JobTable.jsx
Due: build-react

added docker compose file for testing springboot
  Makefile
  spring/Dockerfile.test
  test.yml
Due: build-spring

Finalized Java Framework testing in Maven with docker build
  README.md
  spring/Dockerfile
  spring/src/test/java/com/pixelate/geojobsearch/jobs/models/JobTest.java
Due: build-spring

modify main.py to be able to use scraped data
  scraper/Dockerfile
  scraper/main.py
  scraper/scraper.py
Due: none

fix Dockerfile
  scraper/Dockerfile
  scraper/main.py
Due: none

Feature/web-scraper
  scraper/Dockerfile
  scraper/main.py
  scraper/requirements.txt
  scraper/scraper.py
Due: none

Updated README
  README.md
Due: none

small changes to css and commented out console logs
  react/src/App.css
  react/src/components/JobTable.jsx
Due: build-react
